

table {border-collapse: collapse; }
 
h1
{text-align: center; vertical-align: middle;}

  td {width: 50px; height: 50px; text-align: center; 
    vertical-align: middle; border: 1px solid #333; 
    display: flex; justify-content: center;
    align-items: center; font-size: 36px;
    font-weight: bold;
    color: #333;

    }
  
button {text-align: center; vertical-align: middle;}

  #board {margin: 0 auto;}



#game {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    height: 240px;
  }
  
  .square {
    width: 80px;
    height: 80px;
    border: 1px solid #333;
    display: flex;
    text-align: center; 
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }
  
  #scoreboard {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  #restart {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  